<!DOCTYPE html>
<html>
	<!--
  * Please see the included README.md file for license terms and conditions.
  -->

	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="app_framework/2.1/css/af.ui.min.css">
		<link rel="stylesheet" type="text/css" href="app_framework/2.1/css/icons.min.css">
		<title>Blank App Designer Cordova Web App Project Template</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<!-- <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1"> -->
		<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no">
		<!-- <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, minimum-scale=1, maximum-scale=2"> -->

		<style>
			header{
			                background-color: #0088d1;
			            }
			            footer{
			                background-color: #0088d1;
			            }
			            #afui #content, #afui_modal, #modalContainer{
			                background-color: white;
			                color: black;
			            }
			            #afui.android .footer>footer>a.pressed:not(.button) {
			                border: 0;
			                border-top: 0px;
			                border-radius: 0;
			                background: 0;
			}
			            
			            
						/* following three (cascaded) are equivalent to above three meta viewport statements */
						            /* see http://www.quirksmode.org/blog/archives/2014/05/html5_dev_conf.html */
						            /* see http://dev.w3.org/csswg/css-device-adapt/ */
						                @-ms-viewport { width: 100vw ; min-zoom: 100% ; zoom: 100% ; }          @viewport { width: 100vw ; min-zoom: 100% zoom: 100% ; }
						                @-ms-viewport { user-zoom: fixed ; min-zoom: 100% ; }                   @viewport { user-zoom: fixed ; min-zoom: 100% ; }
						                /*@-ms-viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }   @viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }*/
		</style>

		<link rel="stylesheet" href="css/app.css">
		<link rel="stylesheet" type="text/css" href="css/index_main.less.css" class="main-less">
		<script src="cordova.js" id="xdkJScordova_"></script>

		<script src="js/app.js"></script>
		<!-- for your event code, see README and file comments for details -->
		<script src="js/init-app.js"></script>
		<!-- for your init code, see README and file comments for details -->
		<script src="xdk/init-dev.js"></script>
		<!-- normalizes device and document ready events, see file for details -->
		<!--            
            You may substitute jQuery for the App Framework selector library.
            See http://app-framework-software.intel.com/documentation.php#afui/afui_jquery
        -->
		<script type="application/javascript" src="app_framework/2.1/appframework.js"></script>
		<script type="application/javascript" src="app_framework/2.1/appframework.ui.js" data-ver="1"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	</head>

	<body id="afui" ng-app="myApp" ng-controller="usersCtrl">

		<!--header for main-->
		<header class="wrapping-col wrap-element uib_w_2" data-uib="app_framework/header" data-ver="2" id="af-header-3">
			<h1 style="margin-top: 0px;">Main</h1>
		</header>
		<!--footer for main-->
		<footer class="wrap-element uib_w_3" data-uib="app_framework/footer" data-ver="1" id="af-footer-0" style="border-top: 0px;">
			<a href="#new_cont" class="icon add" ng-click="newContact()">New</a>
		</footer>
		<!--header for new contact-->
		<header class="wrapping-col wrap-element uib_w_4" data-uib="app_framework/header" data-ver="2" id="af-header-0">
			<a href="mainpage" class="button backButton">Back</a>
			<h1 style="margin-top: 0px;">New contact</h1>
		</header>
		<!--footer for new contact-->
		<footer class="wrap-element uib_w_5" data-uib="app_framework/footer" data-ver="1" id="af-footer-1">
			<a href="#" class="icon download" ng-click="save()">Save</a>
		</footer>
		<!--header for details-->
		<header class="wrapping-col wrap-element uib_w_11" data-uib="app_framework/header" data-ver="2" id="af-header-1">
			<a href="mainpage" class="button backButton">Back</a>
			<h1 style="margin-top: 0px;">Contact details</h1>
		</header>
		<!--footer for details-->
		<footer class="wrap-element uib_w_10" data-uib="app_framework/footer" data-ver="1" id="af-footer-2">
			<a href="#" class="icon download" ng-click="editContact()">Save</a>
            <a href="#" class="icon remove" ng-click="removeContact()">Delete</a>
		</footer>
		<div class="uwrap" id="content">
			<div class="upage vertical-col left panel" id="mainpage" data-header="af-header-3" data-footer="af-footer-0">
				<!--<button id="open">Open image</button>-->
				<!--<div style="background-color: #aaajjj, margin-top:0px;">fdfdfdfdf</div>-->

				<!-- <div class="container" style="margin-top: 0px;" ng-app="myApp" ng-controller="usersCtrl">-->
				<ul class="list" ng-repeat="x in names">
					<li id="{{x.id}}" ng-click="showDetails(x.id)"><a href="#details">{{ x.firstname }} {{ x.lastname }}</a>
					</li>
				</ul>
				<!--</div>-->
			</div>

			<div class="upage vertical-col left panel" id="new_cont" data-header="af-header-0" data-footer="af-footer-1">
				<div class="table-thing with-label widget uib_w_7 d-margins" data-uib="app_framework/input" data-ver="1">
					<label class="narrow-control label-inline">First Name</label>
					<input class="wide-control" placeholder="Placeholder Text" type="text" ng-model="fname" ng-change="validate()">
				</div>
				<div class="table-thing with-label widget uib_w_8 d-margins" data-uib="app_framework/input" data-ver="1">
					<label class="narrow-control label-inline">Last Name</label>
					<input class="wide-control" placeholder="Placeholder Text" type="text" ng-model="lname" ng-change="validate()">
				</div>
				<div class="table-thing with-label widget uib_w_9 d-margins" data-uib="app_framework/input" data-ver="1">
					<label class="narrow-control label-inline">Tel No.</label>
					<input class="wide-control" placeholder="Placeholder Text" type="text" ng-model="tel" ng-change="validate()">
				</div>
			</div>

			<div class="upage vertical-col left panel" id="details" data-header="af-header-1" data-footer="af-footer-2">
				<div class="table-thing with-label widget uib_w_12 d-margins" data-uib="app_framework/input" data-ver="1">
					<label class="narrow-control label-inline">First Name</label>
					<input class="wide-control" placeholder="Placeholder Text" type="text" ng-model="fname" ng-disabled="noedit" ng-change="validate()">
				</div>
				<div class="table-thing with-label widget uib_w_13 d-margins" data-uib="app_framework/input" data-ver="1">
					<label class="narrow-control label-inline">Last Name</label>
					<input class="wide-control" placeholder="Placeholder Text" type="text" ng-model="lname" ng-disabled="noedit" ng-change="validate()">
				</div>
				<div class="table-thing with-label widget uib_w_14 d-margins" data-uib="app_framework/input" data-ver="1">
					<label class="narrow-control label-inline">Tel No.</label>
					<input class="wide-control" placeholder="Placeholder Text" type="text" ng-model="tel" ng-disabled="noedit" ng-change="validate()">
				</div>
				<div class="widget uib_w_16 d-margins" data-uib="app_framework/checkbox" data-ver="1">
					<input type="checkbox" id="af-checkbox-0" ng-click="edit()" ng-model="checkboxmodel"
           ng-true-value="true" ng-false-value="false">
					<label class="content-box" for="af-checkbox-0">Edit contact</label>
				</div>
			</div>
		</div>

		<script>
			var app = angular.module('myApp', []);
			app.controller('usersCtrl', function($scope, $http) {
				$http.get("http://localhost/cgi-bin/contacts.pl")
			    .success(function(response) {
			    	$scope.names = response.records;
			    	});
				
				//console.log(response.records);	
				$scope.edit = function() {	
                    if($scope.noedit == true){
                        $scope.noedit = false;
                    }
                    else{
                        $scope.noedit = true; 
                    }
				};
                
                $scope.noedit = function() {			
				    $scope.noedit = true; 
				};
                
				$scope.editContact = function() {			
				    if($scope.notValid == true){
                        //intel.xdk.notification.alert("not valid");
                        return; 
                    }
                       $scope.checkboxmodel = false;
					var data = {'action':'update','firstname':$scope.fname,'lastname':$scope.lname,'tel':$scope.tel, 'id':$scope.idToEdit};
                    
                        angular.forEach($scope.names, function(item) {
                            console.log(item.firstname);
                        if(item.id == $scope.idToEdit){
                            item.firstname = $scope.fname;
                            item.lastname = $scope.lname;
                            item.tel = $scope.tel;
                           // intel.xdk.notification.alert("2");
                            $scope.noedit = true;
                        }
                    });
						$http({
						    method: 'POST',
						    url: 'http://localhost/cgi-bin/contacts.pl',
						    data: JSON.stringify(data),
						    contentType: "application/json; charset=utf-8",
						    success: function(response){
                               /// intel.xdk.notification.alert("2");
                                
						//        $scope.names = response.records;
						    }
						});
                    window.location.href = "#mainpage";
                    
				};
				
                $scope.removeContact = function() {			
				    if($scope.notValid == true){
                        //intel.xdk.notification.alert("not valid");
                        return; 
                    }
                       $scope.checkboxmodel = false;
					var data = {'action':'remove','id':$scope.idToEdit};
                    
                        angular.forEach($scope.names, function(item) {
                           // console.log(item.firstname);
                            
                        if(item.id == $scope.idToEdit){
                            var index=$scope.names.indexOf(item);
                            $scope.names.splice(index, 1);
                            //intel.xdk.notification.alert("2");
                          //  item.firstname = $scope.fname;
                        //    item.lastname = $scope.lname;
                        //    item.tel = $scope.tel;
                           // intel.xdk.notification.alert("2");
                            $scope.noedit = true;
                        }
                    });
						$http({
						    method: 'POST',
						    url: 'http://localhost/cgi-bin/contacts.pl',
						    data: JSON.stringify(data),
						    contentType: "application/json; charset=utf-8",
						    success: function(response){
						//        $scope.names = response.records;
						    }
						});
                     window.location.href = "#mainpage";
				};
                
				$scope.newContact = function(){
					$scope.fname = "";
					$scope.lname = "";
					$scope.tel = "";
					$scope.validate();
				};
                
                $scope.showDetails = function(id){
                    angular.forEach($scope.names, function(item) {
                        if(item.id == id){
                            $scope.fname = item.firstname;
                            $scope.lname = item.lastname;
                            $scope.tel = item.tel;
                            $scope.noedit = true;
                            $scope.idToEdit = id;
                          //  console.log(item.firstname);
                        }
                    });
                };
                
				
				$scope.save = function(){
                    //intel.xdk.notification.alert($scope.notValid);
                    if($scope.notValid == true){
                        //intel.xdk.notification.alert("not valid");
                        return; 
                    }
                       
                    //intel.xdk.notification.alert("valid");
					//if($scope.create = true){
						var data = {'action':'create','firstname':$scope.fname,'lastname':$scope.lname,'tel':$scope.tel};
						$scope.names.push(data);
						$http({
						    method: 'POST',
						    url: 'http://localhost/cgi-bin/contacts.pl',
						    data: JSON.stringify(data),
						    contentType: "application/json; charset=utf-8",
						    success: function(response){
						//        $scope.names = response.records;
						    }
						});
					//}
					//else{
						 window.location.href = "#mainpage";
					//}
				};
				
				$scope.validate = function(){
                    intel.xdk.notification.alert("test");
                    
					if($scope.fname && $scope.lname && $scope.tel){
						$scope.notValid = false;
					}
					else{
						$scope.notValid = true;
					}
				};
				
			});
		</script>

	</body>

</html>